.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.auth-card {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 40px;
    width: 400px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.05);
    text-align: center;
}

.auth-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.auth-input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #F6F7F9;
    font-size: 16px;
    outline: none;
}

.auth-input:focus {
    border-color: #2181F3;
}

.auth-btn {
    width: 100%;
    background-color: #2181F3;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
}

.auth-btn:hover {
    background-color: #0d6efd;
}

/* Профиль */
.profile-card {
    text-align: center;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-info {
    text-align: left;
    margin-bottom: 20px;
}

.profile-label {
    font-size: 12px;
    color: #999;
}
.profile-value {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}