/* src/ui/Preloader.css */
.preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Белый полупрозрачный фон */
  z-index: 9999; /* Поверх всего */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px); /* Эффект размытия фона */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #EAEFF8;
  border-top: 5px solid #2181F3; /*  синий цвет из переменных */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}