.section-card {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #000;
    transition: transform 0.2s;
    width: 18%; /* Помещается примерно 5 в ряд */
    min-width: 150px;
    height: 180px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.03);
}

.section-card:hover {
    transform: translateY(-5px);
}

.card-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.card-image img {
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
}

.card-title {
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}