.product-card {
  background-color: var(--white);
  padding: 20px 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  

  width: 100%; 
  min-width: 0; /* Важно для Grid */
  
  box-shadow: 0 4px 20px rgba(0,0,0,0.03);
  border: 1px solid #f0f0f0;
  transition: transform 0.2s;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}



.product-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-image-container {
    width: 100%;
    height: 180px;
    background-color: #F8F9FA; /* Серый фон для картинок */
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-image-container img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.product-title {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    line-height: 1.4;
    height: 44px; /* Фиксируем высоту заголовка (2 строки) */
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-rating {
    font-size: 14px;
    color: #777C82;
    margin: 10px 0;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.product-price {
    font-size: 18px;
    font-weight: 800;
    color: #000;
}

.btn-buy {
    background-color: #2181F3;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background 0.2s;
}

.btn-buy:hover {
    background-color: #0d6efd;
}