.product-card {
    background-color: #1D1D1D;
    padding: 20px 11px 11px 11px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.one-line-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.two-line-ellipsis {
    display: -webkit-box;              /* Enables flexbox-like layout for text */
    -webkit-box-orient: vertical;      /* Sets vertical orientation */
    -webkit-line-clamp: 2;             /* Limit to 2 lines */
    overflow: hidden;                  /* Hide overflowing text */
    text-overflow: ellipsis;           /* Add "..." at the end */
    line-height: 1.5em;                /* Adjust line height */
    max-height: 3em;                   /* line-height × number of lines */
}
.product-card-discount {
    position: absolute;
    left: 10px;
    top: 10px;
}
.product-card-imgs {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;        
}
.product-card a {
    color: inherit;
    text-decoration: none;
}
.product-card img {
    width: 90%;
}
.product-card-rating, .product-card p {
    text-align: center;
}
.product-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}